.panel {
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
  border-bottom-left-radius: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: space-between;
  min-width: 200px;
}

.main-container {
  display: flex;
}

.panel-header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.panel-footer button {
  width: 100%;
}

.panel-header button {
  height: 24px;
}

.main-view {
  padding: 18px;
  flex-grow: 1;
  height: 100%;
}

.panel-show {
  width: 440px;
}

.panel-hidden {
  position: absolute !important;
  right: 0 !important;
  opacity: 0 !important;
  z-index: -1000 !important;
}

.panels-tabs {
  border-bottom: 0;
  display: flex;
  background: lightgray;
  box-shadow: inset 0 -.5px 0 gray;
  border-top-left-radius: 10px;
  overflow: hidden;
}

.panels-tabs button {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid gray;
}

.panels-tabs .panel-active {
  background: white;
}