#root {
  height: 100vh;
}

.main-view {
  padding: 18px;
  height: 100%;
  flex-grow: 1;
}

.panel-show {
  display: flex;
  flex-direction: column;
  height: calc(100% - 36px);
}

.panel-hidden {
  width: 0 !important;
  height: 0 !important;
  right: 0 !important;
  opacity: 0 !important;
  z-index: -1000 !important;
}

.panels-container {
  overflow: hidden;
  height: 100%;
}

.panels-open {
  width: 100%;
}

.panels-closed {
  width: 0 !important;
}
