.panels-tabs {
  padding: 2px 1px 0px;
  display: flex;
  background: #a0a0a0;
  overflow-y: hidden;
  overflow-x: scroll;
}

.panel-tab {
  cursor: default;
  flex-wrap: nowrap;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #d0d0d0;
  margin-right: 2px;
}

.panel-tab-title {
  /* top, right, bottom, left */
  padding: 6px 8px 12px 10px;
}

.panel-tab-inactive:hover {
  background: #e0e0e0;
}

.panel-tab-active {
  background: white;
}

.panel-tab-close {
  cursor: pointer;
}
